table {
    width: 100%;
    border-collapse: collapse;
}

th {
    width: 50%;
    font-size: 25px;
}

thead tr {
    text-align: left;
    border-bottom: solid black 2px;
}

tbody tr {
    border-bottom: 5px;
    border-bottom: solid gray 2px;
}

td {
    padding: 10px;
}