/* common property */
.inlineBlock {
    display: inline-block;
}

/* class */
body {
    margin: 0;
}

h2 {
    font-weight:bolder;
}

/* Top Menu */
header {
    background-color: white;
}

main {
    background-color: #EEEFF9;
}
.topMenu {
    padding: 0px;
    height: 66px;
}

.topMenuLeft a {
    text-decoration: none;
}

.topMenuLogo {
    margin-top: 10px;
    display: inline;
    float: left;
}

.topMenuLeftText {
    float: left;
    padding-top: 15px;
}

.topMenuLeftTextZh {
    margin: 0px;
    color: black;
    font-size: 18px;
}

.topMenuLeftTextEn {
    margin: 0px;
    color: black;
    font-size: 15px;
}

.topMenuRight {
    float: right;
}

.topMenuRight li {
    display: inline-block;
    width: 100px;
}

.topMenuRight a {
    color: black; 
}

/* Main-Menu */
.mainMenu {
    text-align: center;
}

/* 最外層選單 */
.mainMenu ul {
    font-size: 20px;
    margin-top: 5px;
    padding: 0;
    list-style: none;
}

/* 最外層選單 Item */
.mainMenu > ul > li {
    display: inline-block;
    padding: 0 10px;
    min-width: 60px;
    margin: 0 10px;
}

/* 選單 hover 變色 */
.mainMenu > ul > li:hover, .drop-down-menu > ul > li:hover {
    background-color: #d2d2d2;
}

.mainMenu a {
    text-decoration: none;
    color: black;
}

.drop-down-menu a:hover {
    color: black;
}

.drop-down-menu ul {
    position: absolute; /* 固定位置 */
    display: none;
    text-align: left;
    margin: 0;
    min-width: 60px;
    list-style-position: outside;
}

/* 子選單背景色 */
.drop-down-menu ul li {
    background-color: white;
}

/* 子選單未 hover 時顏色為灰色 */
.drop-down-menu ul li a{
    color: gray;
}

.drop-down-menu:hover > ul {
    display: block;
}

.drop-down-menu ul:hover {
    display: block;
}

/* main Area */
.mainArea {
    padding: 1% 10% 2% 20%;
}

.mainAreaWithSidebar {
    padding:1% 10% 2% 25%;
}

table {
    border-collapse: collapse;    
}

/* sidebar */
/* aside */
.sidebar {
    background-color: #e4e7f8;
    width: 10%;
    height: 160px;
    float: left;
    padding: 20px;
    margin: 10px 0 0 50px;
}

.sidebarTwoItem {
    height: 90px;
}

.sidebarFourItem {
    height: 160px;
}

.sidebar p:nth-child(1) {
    font-size:25px;
    text-align: left;
    line-height: 40px;
    margin: 0;
}

.sidebar p {
    line-height: 30px;
    margin: 0 0 0 25px;
    text-align: left;
}

.sidebar a {
    color: black;
    text-decoration: none;
    padding: 5px;
}

.sidebar a:hover {
    background-color: #1D2443;
    color: white;
}

/* footer */
footer {
    background-color: #1D2443;
    height: 100px;
    padding: 2% 20% 0% 20%;
    margin-top: 30px;
}

.footerArea {
    width: 900px;
}

.footerLeft {
    display: inline-block;
    text-align: left;
    color: white;
}

.footerArea a {
    color: white;
}

.footerRight {
    float: right;
    width: 50%;
    margin-top: 20px;
}

.footerRightLink {
    text-decoration: none;
}

.footerRightImage {
    float: left;
}

.footerRightImage {
    height: 50px;
}

.footerRightText {
    text-align: left;
}

.copyrightArea {
    background-color: #171d3a;
    color: white;
    text-align: center;
}