<!DOCTYPE html>
<html lang="en">
<head>
    <title>NCKU CSIE</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../../img/icon.png" rel="shortcut icon"/>
    <title>Document</title>
    <link rel="stylesheet" href="../../../template.css" type="text/css">
</head>
<body>
    <!-- Start Header Area -->
    <header>
        <!-- Start Top Menu -->
        <nav class="topMenu">
            <div>
                <a href="index.html" class="topMenuLeftLink">
                    <img src="../../../img/logo.png" alt="Logo" class="topMenuLogo">
                    <div class="topMenuLeftText">
                        <p class="topMenuLeftTextZh">成功大學資訊工程學系</p>
                        <p class="topMenuLeftTextEn">Department of Computer Science and Information Engineering</p>
                    </div>
                </a>
            </div>

            <div class="topMenuRight">
                <ul>
                    <li class="topMenuRightItem">
                        <a href="../../webpage/zh/sitemap.html" class="topMenuRightLink">網站導覽</a>
                    </li>
                    <li class="topMenuRightItem">
                        <a href="../../webpage/en/en_index.html" class="topMenuRightLink">English</a>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- End Top Menu -->

        <!-- Start Main-Menu -->
        <nav>
            <div class="mainMenu">
                <ul class="mainMenuItem">
                    <li class="mainMenuItem">
                        <a href="../../webpage/zh/info/info.html" class="mainMenuLink">簡介</a>
                    </li>
                    <li class="mainMenuItem">
                        <a href="../../webpage/zh/members/members.html" class="mainMenuLink">成員</a>
                    </li>
                    <li class="mainMenuItem">
                        <a href="../../webpage/zh/research/research.html" class="mainMenuLink">學術研究</a>
                    </li>
                    <li class="mainMenuItem">
                        <a href="../../webpage/zh/course/course.html" class="mainMenuLink">課程及修業</a>
                    </li>
                    <li class="mainMenuItem">
                        <a href="../../webpage/zh/document/document.html" class="mainMenuLink">檔案下載</a>
                    </li>
                    <li class="mainMenuItem">
                        <a href="../../webpage/zh/news/news.html" class="mainMenuLink">公告</a>
                    </li>
                    <li class="mainMenuItem">
                        <a href="../../webpage/zh/links/links.html" class="mainMenuLink">相關連結</a>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- End Main-Menu -->
    </header>
    <!-- End Header Area -->
    
    <!-- Start Main Area -->
    <main class="mainArea">

    </main>
    <!-- End Main Area -->

    <!-- Start Footer Area -->
    <footer>
        <div class="footerArea">
            <!-- 左div -->
            <div class="footerLeft">
                <small>70101 台南市東區大學路一號<br>
                        TEL 06-2757575 ext 62500 
                        <a href="https://www.csie.ncku.edu.tw/zh-hant/members/office_members/" class="footerLeftLink">分機查詢</a><br>
                        FAX 06-2747076<br>
                        em62500@email.ncku.edu.tw
                </small>
            </div>

            <!-- 右div -->
            <div class="footerRight">
                <a href="https://www.ncku.edu.tw/" class="footerRightLink">
                    <div class="footerRightImage">
                        <img src="https://www.csie.ncku.edu.tw/templates/static/images/ncku_logo.png" alt="NCKU Logo" class="footerRightImage">
                    </div>
                    <div class="footerRightText">
                        <small>國立成功大學<br>
                        National Cheng Kung University</small>
                    </div>
                </a>
            </div>
        </div>
    </footer>
    <div class="copyrightArea">
        Copyright © 2023 國立成功大學資訊工程系 by 陳宥霖
    </div>
    <!-- End Footer Area -->
</body>
</html>

<!--
H34081050 陳宥霖 第二次作業 4/13
H34081050 CHEN YU-LIN The Second Homework 4/13
-->